@font-face {
    font-family: titleFont;
    src: url("fonts/Abadi MT Condensed Extra Bold.ttf");
}

@font-face {
    font-family: bodyFont;
    src: url("fonts/Myriad Pro Regular.ttf");
}

*{
    font-family: bodyFont;
}

.main {
    border-radius: 25px;
    background-color: #2C1A59;
    background-image: linear-gradient(to right, #2C1A59, #421D56);
    padding: 20px;
    width: 400px;
    /*height: 500px;*/
    margin: 0 auto;
}

.main .title {
    text-align: center;
    color: #FCB912;
    font-size: 300%;
    font-family: titleFont;
}

.main .body {
    text-align: center;
    color: #FCB912;
    font-size: 150%;
}

.options {
    text-align: center;
}

.options .login {
    color: #FCB912;
    display: inline;
    cursor: pointer;
}

.options .blocker {
    color: #FCB912;
    display: inline;
}

.options .create-account {
    color: #FCB912;
    display: inline;
    cursor: pointer;
}

/* Center the forms horizontally and vertically */
.container{
    text-align: center;
}

/* Styling for the all the input fields inside the form */
.login-form div > input,
.create-account-form div > input{
    height: 50px;
    display:inline-block;
    width: 341px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* Styling for the submit button inside the form */
.login-form input[type=submit],
.create-account-form input[type=submit]{
    background-color: #2C1A59;
    border: 2px solid #FCB912;
    color: #FCB912;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    width: 341px;
    height: 50px;
}

.create-account-form{
    display: none;
}

/* Styling for the error paragraphs the show when the user submit erroneous information */
.login-form > p.errors,
.login-form > p.success,
.create-account-form > p{
    background-color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.login-form > p.errors,
.create-account-form > p{
    border-left: 4px solid red;
    display:none;
}

.login-form > p.success{
    border-left: 4px solid green;
    display:none;
}

/* Messages that appear to user on the spot while creating the account */
.availability,
p.temporary{
    opacity: 0;
    background-color: #FCB912;
    width: 410px;
    border: none;
}

.create-account-form .user-input,
.create-account-form .user-pass,
.create-account-form .rep-pass,
.create-account-form .user-email{
    position: relative;
}

/* Place the temporary messages beside their respective fields and center the message text horizontally and vertically */
.create-account-form .user-input p,
.create-account-form .user-pass p,
.create-account-form .rep-pass p,
.create-account-form .user-email p{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -4px;
    left: 370px;
}

