@font-face {
    font-family: titleFont;
    src: url("fonts/Abadi MT Condensed Extra Bold.ttf");
}

@font-face {
    font-family: bodyFont;
    src: url("fonts/Myriad Pro Regular.ttf");
}

*{
    box-sizing: border-box;
    outline: 0;
}

.top-nav-bar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C1A59;
    background-image: linear-gradient(to right, #2C1A59, #421D56);
    position: absolute;
    z-index: 1;
}

.top-nav-bar .tab-right {
    float: right;
    display: inline-block;
    color: #FCB912;
    padding: 14px 16px;
    text-decoration: none;
    font-family: titleFont;
    padding-bottom: 0;
}

.top-nav-bar .tab-right img:hover {
    background-color: #342d59;
}

.legend{
    display: none;
    background-color: #421D56;
    width: 190px;
    height: 150px;
    position: absolute;
    top: 63px;
    right: 0;
    z-index: 9999;
}

.legend dt:first-child{
    border-bottom: 3px solid #FCB912;
}

.legend dt img{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.legend dt span{
    position: relative;
    top: -23px;
    right: -15px;
    font-family: bodyFont;
    font-size: 22px;
    color: #FCB912
}

.top-nav-bar .tab-middle {
    text-align: center;
    display: inline-block;
    color: #FCB912;
    font-family: titleFont;
    position: relative;
    right: -41%;
}

.top-nav-bar .tab-left {
    float: left;
    display: inline-block;
    color: #FCB912;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav-bar .tab-left .drawer {
    cursor: pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 68px; /* Stay at the top */
    left: 0;
    background-color: #2C1A59;
    /*background-image: linear-gradient(to right, #2C1A59, #421D56);*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px; !* Place content 60px from the top *!*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FCB912;
    display: block;
    transition: 0.3s;
    /*font-family: bodyFont;*/
    font-family: Verdana;
}

.sidenav a .top {
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color: #342d59;
}

/* Start shared styling between different dialogs */

.ui-widget.ui-widget-content{
    border: 1px solid rgb(252,185,18);      /* yellow border around all the dialog boxes */
}

.allEventsDialog,
.allQuestionsDialog,
.createDialog,
.eventDialog,
.votingDialog,
.editEventDialog,
.answerDialog,
.noAnswersDialog,
.setEventDuration,
.editProfile,
.viewProfile,
.errorsDialog{
    background-image: linear-gradient(to right, #2C1A59, #421D56);      
    border-radius: 30px;   
    padding-bottom: 20px;
}

.allEventsDialog .ui-dialog-content,
.allQuestionsDialog .ui-dialog-content,
.createDialog .ui-dialog-content,
.eventDialog .ui-dialog-content,
.votingDialog .ui-dialog-content,
.editEventDialog .ui-dialog-content,
.answerDialog .ui-dialog-content,
.noAnswersDialog .ui-dialog-content,
.setEventDuration .ui-dialog-content,
.editProfile .ui-dialog-content,
.viewProfile .ui-dialog-content,
.errorsDialog .ui-dialog-content{
    padding-top: 0;
}

.allEventsDialog .ui-dialog-titlebar,
.allQuestionsDialog .ui-dialog-titlebar,
.createDialog .ui-dialog-titlebar,
.eventDialog .ui-dialog-titlebar,
.votingDialog .ui-dialog-titlebar,
.editEventDialog .ui-dialog-titlebar,
.answerDialog .ui-dialog-titlebar,
.noAnswersDialog .ui-dialog-titlebar,
.setEventDuration .ui-dialog-titlebar,
.editProfile .ui-dialog-titlebar,
.viewProfile .ui-dialog-titlebar,
.errorsDialog .ui-dialog-titlebar{
    background-color: transparent;                  
    border: transparent;
    color: rgb(252,185,18);
    font-family: titleFont;
    font-size: 40px;
    text-align: center;
}

.allEventsDialog .ui-dialog-titlebar-close,
.allQuestionsDialog .ui-dialog-titlebar-close,
.createDialog .ui-dialog-titlebar-close,
.eventDialog .ui-dialog-titlebar-close,
.votingDialog .ui-dialog-titlebar-close,
.editEventDialog .ui-dialog-titlebar-close,
.answerDialog .ui-dialog-titlebar-close,
.noAnswersDialog .ui-dialog-titlebar-close,
.setEventDuration .ui-dialog-titlebar-close,
.editProfile .ui-dialog-titlebar-close,
.viewProfile .ui-dialog-titlebar-close,
.errorsDialog .ui-dialog-titlebar-close{
    background-color: rgb(66,29,86);
    border: none;
}

.allEventsDialog .ui-dialog-title,
.allQuestionsDialog .ui-dialog-title,
.createDialog .ui-dialog-title,
.eventDialog .ui-dialog-title,
.votingDialog .ui-dialog-title,
.editEventDialog .ui-dialog-title,
.answerDialog .ui-dialog-title,
.noAnswersDialog .ui-dialog-title,
.setEventDuration .ui-dialog-title,
.editProfile .ui-dialog-title,
.viewProfile .ui-dialog-title,
.errorsDialog .ui-dialog-title{
    position: relative;
    right: -5%;
}

.allEventsDialog .ui-dialog-content::-webkit-scrollbar,
.allQuestionsDialog .ui-dialog-content::-webkit-scrollbar,
.createDialog .ui-dialog-content::-webkit-scrollbar,
.eventDialog .ui-dialog-content::-webkit-scrollbar,
.votingDialog .ui-dialog-content::-webkit-scrollbar,
.editEventDialog .ui-dialog-content::-webkit-scrollbar,
.answerDialog .ui-dialog-content::-webkit-scrollbar,
.noAnswersDialog .ui-dialog-content::-webkit-scrollbar,
.setEventDuration .ui-dialog-content::-webkit-scrollbar,
.editProfile .ui-dialog-content::-webkit-scrollbar,
.viewProfile .ui-dialog-content::-webkit-scrollbar,
.errorsDialog .ui-dialog-content::-webkit-scrollbar{ 
    width: 12px;
}

.allEventsDialog .ui-dialog-content::-webkit-scrollbar-thumb,
.allQuestionsDialog .ui-dialog-content::-webkit-scrollbar-thumb,
.createDialog .ui-dialog-content::-webkit-scrollbar-thumb,
.eventDialog .ui-dialog-content::-webkit-scrollbar-thumb,
.votingDialog .ui-dialog-content::-webkit-scrollbar-thumb,
.editEventDialog .ui-dialog-content::-webkit-scrollbar-thumb,
.answerDialog .ui-dialog-content::-webkit-scrollbar-thumb,
.noAnswersDialog .ui-dialog-content::-webkit-scrollbar-thumb,
.setEventDuration .ui-dialog-content::-webkit-scrollbar-thumb,
.editProfile .ui-dialog-content::-webkit-scrollbar-thumb,
.viewProfile .ui-dialog-content::-webkit-scrollbar-thumb,
.errorsDialog .ui-dialog-content::-webkit-scrollbar-thumb{ 
    background-color: rgb(252,185,18);
    border-radius: 20px;
}

.createDialog h3,
.editEventDialog h3,
.setEventDuration h3,
.editProfile h3,
.viewProfile h3,
.errorsDialog h3{
    color: rgb(252,185,18);
    font-family: titleFont;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px
}

.allEventsDialog .ui-dialog-buttonpane,
.allQuestionsDialog .ui-dialog-buttonpane,
.votingDialog .ui-dialog-buttonpane,
.editEventDialog .ui-dialog-buttonpane,
.setEventDuration .ui-dialog-buttonpane,
.editProfile .ui-dialog-buttonpane,
.answerDialog .ui-dialog-buttonpane,
.noAnswersDialog .ui-dialog-buttonpane,
.viewProfile .ui-dialog-buttonpane,
.errorsDialog .ui-dialog-buttonpane{
    background-color: transparent;
    border: none;
}

.allEventsDialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.allQuestionsDialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.votingDialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.editEventDialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.setEventDuration .ui-dialog-buttonpane .ui-dialog-buttonset,
.editProfile .ui-dialog-buttonpane .ui-dialog-buttonset,
.answerDialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.noAnswersDialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.viewProfile .ui-dialog-buttonpane .ui-dialog-buttonset,
.errorsDialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float: none;
    text-align: center
}

.allEventsDialog .ui-dialog-buttonpane button,
.allQuestionsDialog .ui-dialog-buttonpane button,
.votingDialog .ui-dialog-buttonpane button,
.votingDialog .ui-dialog-buttonpane button,
.editEventDialog .ui-dialog-buttonpane button,
.setEventDuration .ui-dialog-buttonpane button,
.editProfile .ui-dialog-buttonpane button,
.answerDialog .ui-dialog-buttonpane button,
.noAnswersDialog .ui-dialog-buttonpane button,
.viewProfile .ui-dialog-buttonpane button,
.errorsDialog .ui-dialog-buttonpane button{
    cursor: pointer;
    background-color: rgb(252,185,18);
    border: none;
    border-radius: 30px;
    width: 100px;
    padding: 10px;
    font-family: titleFont;
    font-size: 20px;    
    margin-left: 22px;
    cursor: pointer;
}

.allbuttons{
    display: flex;
    justify-content: center;
    align-items: center
}

/* End shared styling between different dialogs */

/* Start all event dialog styling */

.allEventsDialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    margin-bottom: -20px
}

.allEventsDialog .events{
    margin-top: 0;
}

.allEventsDialog .entry{
    background-color: rgb(252,185,18);
    margin-bottom: 10px;
    border-radius: 30px;
    margin-left: -27px
}

.allEventsDialog .entry h3,
.allEventsDialog .entry p{
    margin-left: 20px;
    overflow-wrap: break-word;
}

.allEventsDialog .entry h3{
    font-family: titleFont;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.allEventsDialog .entry p{
    font-family: bodyFont;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 0;
}

.allEventsDialog .ui-dialog-buttonpane button{
    width: 125px;
    padding: 15px;
}

/* End all event dialog styling */

/* Start all questions dialog styling */

.allQuestionsDialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    margin-bottom: -18px
}

.allQuestionsDialog .events{
    margin-top: 0;
}

.allQuestionsDialog .entry{
    background-color: rgb(252,185,18);
    margin-bottom: 10px;
    border-radius: 30px;
    margin-left: -27px
}

.allQuestionsDialog .entry h3,
.allQuestionsDialog .entry p{
    margin-left: 20px;
    overflow-wrap: break-word;
}

.allQuestionsDialog .entry h3{
    font-family: titleFont;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.allQuestionsDialog .entry p{
    font-family: bodyFont;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 0;
}

.allQuestionsDialog .entry button:not(.ui-button){
    position: relative;
    left: 324px;
    border-radius: 22px;
    border: none;
    background-color: rgb(66,29,86);
    color: rgb(252,185,18);
    cursor: pointer;
    font-family: titleFont;
    font-size: 22px;
    padding: 10px;
    margin-top: 8px;
    box-shadow: 2px 2px 2px #3f083f;
}

.allQuestionsDialog .entry button:not(.ui-button):hover{
    background: rgb(60, 4, 90);
}

.allQuestionsDialog .ui-dialog-buttonpane button{
    width: 150px;
    padding: 15px;
}

/* End all questions dialog styling */

/* Start create event dialog styling */

.createDialog h3{
    margin-bottom: 10px;
    margin-top: 10px;
}
.createDialog input[type=text],
.createDialog select,
.createDialog textarea{
    width: 230px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(252,185,18);
    font-family: bodyFont;
}

.createDialog textarea{
    resize: none
}

.createDialog input[type=submit]{
    border-radius: 30px;
    background-color: rgb(252,185,18);
    color: rgb(66,29,86);
    border: 2px solid rgb(66,29,86);
    padding: 15px;
    font-family: titleFont;
    font-size: 20px;
    min-width: 153px;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
}

/* End create event dialog styling */

/* Start event dialog styling */

.eventDialog .ui-dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eventDialog h3{
    color: rgb(252,185,18);
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.eventDialog p{
    color: rgb(252,185,18);
    font-family: bodyFont;
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 0;
    overflow-wrap: break-word;
}

#finishTime{
    color: rgb(252,185,18);
    font-family: bodyFont;
    font-size: 24px;
    position: relative;
    top: -25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.eventDialog button:not(.ui-button){
    border-radius: 30px;
    background-color: rgb(252,185,18);
    color: rgb(66,29,86);
    border: 2px solid rgb(66,29,86);
    padding: 15px;
    font-family: titleFont;
    font-size: 20px;
    min-width: 150px;
    cursor: pointer;
}

/* End event dialog styling */

/* Start voting dialog styling */

.votingDialog .ui-dialog-titlebar{
    font-size: 33px;
}

.votingDialog p{
    color: rgb(252,185,18);
    font-family: bodyFont;
    text-align: center;
    font-size: 22px;
    margin-bottom: 0;
}

/* End voting dialog styling */

/* Start edit event dialog styling */

.editEventDialog h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

.editEventDialog input[type=text],
.editEventDialog textArea,
.editEventDialog select{
    width: 230px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(252,185,18);
    font-family: bodyFont;
}

.editEventDialog textArea{
    resize: none;
}

/* End edit event dialog styling */

/* Start answer dialog styling */

.answerDialog .existingAnswers{
    margin-right: 16px;
}

.answerDialog .existingAnswers .entry{
    background-color: rgb(252,185,18);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 30px;
    margin-left: -27px
}

.answerDialog .existingAnswers .entry h3,
.answerDialog .existingAnswers .entry p{
    margin-left: 20px;
}

.answerDialog .existingAnswers .entry h3{
    font-family: titleFont;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.answerDialog .existingAnswers .entry p{
    font-family: bodyFont;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0;
}

.answerDialog textarea{
    resize: none;
    margin-left: 13px;
    position: fixed;
    top: 72%;
    padding: 11px;
    font-family: bodyFont;
    font-size: 16px;
    width: 328px;
    height: 80px;
    border-radius: 25px;
}

.answerDialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float: right
}

.answerDialog .ui-dialog-buttonpane button{
    width: 100px;
    padding: 15px;
}

/* End answer dialog styling */

/* Start no answers dialog styling */

.noAnswersDialog .ui-dialog-content{
    padding-top: 10px
}

.noAnswersDialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    margin-bottom: -23px;
}

.noAnswersDialog p{
    color: rgb(252,185,18);
    font-family: bodyFont;
    font-size: 22px;
    margin: 0;
    text-align: center;
}

/* End no answers dialog styling */

/* Start set event duration styling */
.setEventDuration .ui-dialog-title{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px
}

.setEventDuration h3{
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 10px
}

.setEventDuration input[type=number]{
    width: 230px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(252,185,18);
}

.setEventDuration span{
    color: rgb(252,185,18);
    margin-right: 63px;
    font-family: bodyFont;
    font-size: 22px;
}

.setEventDuration p{
    color: rgb(252,185,18);
    text-align: center;
    margin-top: 105px;
    font-family: bodyFont;
    font-size: 22px;
}

/* End set event duration styling */

/* Start edit profile styling */

.editProfile .ui-dialog-title{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.editProfile h3{
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.editProfile input[type=text],
.editProfile input[type=password]{
    width: 230px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(252,185,18);
    font-family: bodyFont;
}

/* End edit profile dialog styling */

/* Start view profile dialog styling */

.viewProfile h1{
    font-size: 30px;
    color: rgb(252,185,18);
}

.viewProfile h3{
    font-size: 20px;
}

.viewProfile img{
    width:80px;
    height:80px;
    border-radius:50%;
    overflow:hidden;
}

/* End view profile dialog styling */

/* Start errors dialog styling */

.errorsDialog .ui-dialog-title{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px
}

.errorsDialog h3{
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.errorsDialog p{
    color: rgb(252,185,18);
    font-family: bodyFont;
    font-size: 20px
}

/* End errors dialog styling */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.events,
.questions{
    list-style-type: none;
}

.events .entry,
.questions .entry{
    padding: 10px;
    overflow: auto;
}

/*.events .entry:hover{
    background: #eee;
}*/

/*.questions .entry:hover{
    background: rgb(251, 195, 59);;
}*/

/* Map styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}